/* External stylesheet*/
nav {
    background-color: navy;
    padding: 5px;
}
nav ul{
    text-align: center;
    font-size: 1.2em;
}

nav ul li {
    list-style: none ;
    background-color: darkslategrey;
    display: inline;
    padding: 15px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    border-style:groove;
    border-color: #b2b2b2;
}
nav ul li a { color: white;
    text-decoration: none;

text-align: center;

}
nav ul li:hover {
    background-color: rgb(56, 51, 123)
}
header {
    background-image: url(../images/aerialviewbeepark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    color: bisque;
    border: 1px solid black;
    border-radius: 5px;
}
footer {
    clear:both;
    padding: 3px;
    margin: 0px;
    position:relative;
    bottom: 0px;
    width: 100%;
    background-color: #b2b2b2;
    
    
}

footer ul li a { color: white;
    text-decoration: none;

    
text-align: center;
}
footer ul li{
    list-style: none ;
    background-color: darkslategrey;
    display: inline;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    border-style:groove;
    border-color: #b2b2b2;
   
 }


body{
    font-family: verdana;
    margin: 0;
    color: darkblue;
    text-align: center;
    background-color: darkblue;
}

main{
    text-align: center;
    color: white;
}
    
#content {
    float: left;
    width: 78.5%;
    border: 1px solid grey;
    height: 40%;
}
aside {
    border: 2px solid yellow;
    width: 18.5%;
    float:right;
    color: white;
    
}
.maps{
    width: 18.5%;
}
h1  {
    text-align: left;
    font-weight: bold;
}
h2{
    text-align: left;
}
aside ul li a{
    color: bisque;
    text-decoration: none;
}
    aside ul li {
        list-style: none;
    }

    .col_detail {
        column-count: 3;
        column-rule: 1px solid white;
        column-gap: 50px;
        padding: 2px;

    }

h4{
    text-align: left;
    
    font-size: small;
    
}

.videohome {
    float:left;
    width: 40%;
    border: 2px solid white;
    max-height: 450px;
    min-height: 450px;
    overflow: auto;
    float: left;
}
.required{
    font-weight:bold;
    color:red;
}
.label {
    float:left;
    width: 112px;
    padding-right:10px;
    text-align: right;
}

.input {
    margin-left: 1em;
    margin-bottom: .5em;
    width: 220;

}




